# Practice notebook

Handling and manipulating data to extract important information

In [4]:
# import statements
import pandas as pd
import numpy as np

In [5]:
# Importing datasets

ipl_venue = pd.read_csv('./../data/IPL_Dataset/ipl_venue.csv')
ipl_ball_by_ball = pd.read_csv('./../data/IPL_Dataset/ipl_ball_by_ball.csv')
ipl_matches = pd.read_csv('./../data/IPL_Dataset/ipl_matches.csv')

In [6]:
ipl_venue.head()

   venue_id                                              venue           city
0         1  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...  Visakhapatnam
1         2                            Sharjah Cricket Stadium        Sharjah
2         3                 JSCA International Stadium Complex         Ranchi
3         4             Saurashtra Cricket Association Stadium         Rajkot
4         5   Shaheed Veer Narayan Singh International Stadium         Raipur

In [256]:
ipl_ball_by_ball.columns

Index(['match_id', 'inning', 'overs', 'ball', 'batsman', 'non_striker',
       'bowler', 'batsman_runs', 'extra_runs', 'total_runs', 'non_boundary',
       'is_wicket', 'dismissal_kind', 'player_dismissed', 'fielder',
       'extras_type', 'batting_team', 'bowling_team'],
      dtype='object')

In [255]:
ipl_matches

,match_id,date,player_of_match,venue_id,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,2008-04-18,BB McCullum,35,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2008-04-19,MEK Hussey,31,0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,2008-04-19,MF Maharoof,27,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2008-04-20,MV Boucher,14,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,2008-04-20,DJ Hussey,15,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,2020-09-28,AB de Villiers,25,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,2020-11-05,JJ Bumrah,25,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,2020-11-06,KS Williamson,38,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,2020-11-08,MP Stoinis,38,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,2020-11-10,TA Boult,25,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [98]:
eliminator_matches = ipl_matches[ipl_matches['eliminator']=='Y'].groupby(ipl_matches['venue_id']).count()
# eliminator_matches
eli_ven_id = list(eliminator_matches.sort_values('eliminator')[-3:].index)
ipl_venue[ipl_venue['venue_id'].isin(eli_ven_id)].loc[:, ['venue','city']]

                                  venue       city
22  Dubai International Cricket Stadium      Dubai
33         Sardar Patel Stadium, Motera  Ahmedabad
34                 Sheikh Zayed Stadium  Abu Dhabi

## Section 1
### 1. A

In [238]:
ipl_matches

,match_id,date,player_of_match,venue_id,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,2008-04-18,BB McCullum,35,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2008-04-19,MEK Hussey,31,0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,2008-04-19,MF Maharoof,27,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2008-04-20,MV Boucher,14,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,2008-04-20,DJ Hussey,15,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,2020-09-28,AB de Villiers,25,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,2020-11-05,JJ Bumrah,25,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,2020-11-06,KS Williamson,38,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,2020-11-08,MP Stoinis,38,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,2020-11-10,TA Boult,25,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [239]:
temp1 = pd.DataFrame(
    ipl_matches[ipl_matches['eliminator']=='Y']
    .groupby(ipl_matches['venue_id'], group_keys=False)
    .count()
    .sort_values('eliminator', ascending=False)['eliminator'])
temp1['venue_id'] = temp1.index
temp1.index = [i for i in range(len(temp1))]
pd.merge(temp1, ipl_venue).sort_values('eliminator', ascending=False)

   eliminator  venue_id                                      venue       city
0           3        25        Dubai International Cricket Stadium      Dubai
1           2        38                       Sheikh Zayed Stadium  Abu Dhabi
2           1         4     Saurashtra Cricket Association Stadium     Rajkot
3           1        14                           Wankhede Stadium     Mumbai
4           1        22  Rajiv Gandhi International Stadium, Uppal  Hyderabad
5           1        27                           Feroz Shah Kotla      Delhi
6           1        29            MA Chidambaram Stadium, Chepauk    Chennai
7           1        33                                   Newlands  Cape Town
8           1        35                      M.Chinnaswamy Stadium  Bengaluru
9           1        37               Sardar Patel Stadium, Motera  Ahmedabad

### 1. B

#### Query : 
`Return the most number of catches taken by a player in IPL history`

In [241]:
catches = ipl_ball_by_ball[ipl_ball_by_ball["dismissal_kind"] == 'caught'].groupby('fielder').count()
c_and_b = ipl_ball_by_ball[ipl_ball_by_ball["dismissal_kind"] == 'caught and bowled'].groupby('bowler').count()
type(list(c_and_b.index))
result_df1 = pd.DataFrame(
    data={'Name':list(c_and_b.index), 'Count':list(c_and_b['player_dismissed'])}, 
    index=[_ for _ in range(len(c_and_b))])
result_df2 = pd.DataFrame(
    data={'Name':list(catches.index), 'Count':list(catches['player_dismissed'])}, 
    index=[_ for _ in range(len(catches))])
result = pd.merge(result_df1, result_df2, how="outer")
result.sort_values('Count', ascending=False)[:3]

               Name  Count
346      KD Karthik    118
424        MS Dhoni    113
146  AB de Villiers    103

In [230]:
catches_max = ipl_ball_by_ball[ipl_ball_by_ball["dismissal_kind"].isin(['caught','caught and bowled'])].groupby('fielder').count()
catches_max = catches_max.sort_values('dismissal_kind', ascending=False)[:1]['is_wicket']
print(f"Player {catches_max.index[0]} took a total of {catches_max[0]} catches, highest in the IPL history ")

Player KD Karthik took a total of 118 catches, highest in the IPL history

### 1. C
#### Query:
`Write a query to return a report for highest wicket taker in matches which were affected by Duckworth-Lewis’s method (D/L method).`

In [242]:
temp2 = ipl_matches[ipl_matches['method'] == 'D/L']
matches_affected_by_dl = list(temp2['match_id'])
temp2 = ipl_ball_by_ball[ipl_ball_by_ball['match_id'].isin(matches_affected_by_dl)]
temp2 = temp2[temp2["is_wicket"]==1].groupby('bowler').count()
temp2.sort_values('is_wicket', ascending=False)['is_wicket']

bowler
AB Dinda        8
R Ashwin        8
MC Henriques    7
B Kumar         6
DL Vettori      5
               ..
AM Salvi        1
I Sharma        1
R Shukla        1
RP Singh        1
Z Khan          1
Name: is_wicket, Length: 72, dtype: int64