# Machine Learning Foundations

In [1]:
# Importing the modules
import numpy as np
import pandas as pd

In [4]:
data = pd.read_excel(r"../data/Starbucks Dataset.xlsx")

`data.head()` : Gives you the first 5 observation

In [6]:
data.head()

,Amount of Prepaid card,Age,Days per month at starbucks,Cups of Coffee per day,Income
0,5,25,4,1,20
1,25,30,12,5,35
2,10,27,10,4,30
3,5,42,8,5,30
4,15,29,11,8,25

`data.tail()` : Gives you the last 5 observation

In [7]:
data.tail()

,Amount of Prepaid card,Age,Days per month at starbucks,Cups of Coffee per day,Income
20,25,27,12,3,35
21,25,29,14,6,45
22,50,34,10,3,55
23,15,30,6,5,30
24,20,22,8,8,20